# Confidence interval

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import stats
import math

# Data
A total of 15 print-heads were randomly selected and tested until failure. The durability of each print-head (in millions of characters) was recorded as follows:
1.13, 1.55, 1.43, 0.92, 1.25, 1.36, 1.32, 0.85, 1.07, 1.48, 1.20, 1.33, 1.18, 1.22, 1.29

In [2]:
x=[1.13, 1.55, 1.43, 0.92, 1.25, 1.36, 1.32, 0.85, 1.07, 1.48, 1.20, 1.33, 1.18, 1.22, 1.29]

In [3]:
data=pd.DataFrame(x,columns=['Durability(in millions)'])

In [4]:
data

    Durability(in millions)
0                      1.13
1                      1.55
2                      1.43
3                      0.92
4                      1.25
5                      1.36
6                      1.32
7                      0.85
8                      1.07
9                      1.48
10                     1.20
11                     1.33
12                     1.18
13                     1.22
14                     1.29

# a. Build 99% Confidence Interval Using Sample Standard Deviation
 Assuming the sample is representative of the population, construct a 99% confidence interval for the mean number of characters printed before the print-head fails using the sample standard deviation. Explain the steps you take and the rationale behind using the t-distribution for this task.

In [40]:
mean=np.mean(x)

In [41]:
mean

1.2386666666666666

In [42]:
var=np.var(x)

In [43]:
var

0.0348248888888889

In [44]:
std_dev=np.std(x)

In [45]:
std_dev

0.18661427836285438

In [46]:
n=len(x)
n

15

In [48]:
df=n-1 # df=degree of freedom

In [49]:
# calculate t-critical value for 99% confidence intervel

In [50]:
t_critical=stats.t.interval(0.99,14)

In [51]:
t_critical

(-2.97684273411266, 2.97684273411266)

In [52]:
# calculating marigin of error

In [53]:
marigin_of_error=2.97684273411266*(std_dev/math.sqrt(n)) 
marigin_of_error

0.14343499802810397

In [55]:
# calculating confidence interval
confidence_interval=(mean-marigin_of_error,mean+marigin_of_error)
confidence_interval

(1.0952316686385626, 1.3821016646947706)

In [56]:
print("Sample mean:",mean)
print("Sample standard deviation:",std_dev)
print("Degree of freedom:",df)
print("t_critical value:",t_critical)
print("Marigin of Error:",marigin_of_error)
print("99% confidence interval:",confidence_interval)

Sample mean: 1.2386666666666666
Sample standard deviation: 0.18661427836285438
Degree of freedom: 14
t_critical value: (-2.97684273411266, 2.97684273411266)
Marigin of Error: 0.14343499802810397
99% confidence interval: (1.0952316686385626, 1.3821016646947706)

# b. Build 99% Confidence Interval Using Known Population Standard Deviation
If it were known that the population standard deviation is 0.2 million characters, construct a 99% confidence interval for the mean number of characters printed before failure.

In [57]:
data

    Durability(in millions)
0                      1.13
1                      1.55
2                      1.43
3                      0.92
4                      1.25
5                      1.36
6                      1.32
7                      0.85
8                      1.07
9                      1.48
10                     1.20
11                     1.33
12                     1.18
13                     1.22
14                     1.29

In [58]:
mean

1.2386666666666666

In [59]:
std_dev

0.18661427836285438

In [61]:
z_score=stats.norm.interval(0.99)
z_score

(-2.5758293035489004, 2.5758293035489004)

In [64]:
marigin_of_error1=2.5758293035489004*(0.2/math.sqrt(n))  
marigin_of_error1

0.13301525327090588

In [65]:
confidence_interval1=(mean-marigin_of_error1,mean+marigin_of_error1)
confidence_interval1

(1.1056514133957607, 1.3716819199375725)

In [66]:
print("Sample mean:",mean)
print("Sample standard deviation:",std_dev)
print("Degree of freedom:",df)
print("z_critical value:",z_score)
print("Marigin of Error:",marigin_of_error1)
print("99% confidence interval:",confidence_interval1)

Sample mean: 1.2386666666666666
Sample standard deviation: 0.18661427836285438
Degree of freedom: 14
z_critical value: (-2.5758293035489004, 2.5758293035489004)
Marigin of Error: 0.13301525327090588
99% confidence interval: (1.1056514133957607, 1.3716819199375725)